@import '../../../../../assets/styles/variables';

.claimprov {
  /*border: $category-border-size solid;
  border-radius: $category-border-radius;
  padding: $wb-space-x-large;
  margin: $wb-space-x-large 0;*/
  background-color: $wb-color-page-foreground-background;
  border-left: 5px solid;
  padding: $wb-space-medium $wb-space-large;
  margin: $wb-space-large $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    padding: $wb-space-small $wb-space-medium;
    margin: $wb-space-large 0;
  }
  .category {
    text-align: right;
  }

  h3 {
    margin-top: $wb-space-xxl-large;
  }
  app-claim-candidate-viz {
    margin-bottom: $wb-space-small;
  }
}
.claimNav {
  @media (min-width: $wb-breakpoint-large) {
    > div:first-of-type {
      padding-right: $wb-space-medium;
    }
    > div:last-of-type {
      padding-left: $wb-space-medium;
    }
  }
}
