@import '../../../../../assets/styles/variables';

.claimprov {
  /*border: $category-border-size solid;
  border-radius: $category-border-radius;
  padding: $wb-space-x-large;
  margin: $wb-space-x-large 0;*/
  background-color: $wb-color-page-foreground-background;
  border-left: 5px solid;
  padding: $wb-space-medium $wb-space-large;
  margin: $wb-space-large $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    padding: $wb-space-small $wb-space-medium;
    margin: $wb-space-large 0;
  }
}
