<ng-container *ngIf="claimId && politicalData">
  <nz-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/" title="Zurück zur Startseite">Start</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/claim" title="Übersicht über alle Thesen">Thesenübersicht</a></nz-breadcrumb-item>
    <nz-breadcrumb-item
      ><span title="Aktuelle Seite: {{ politicalData.claims[claimId].title }}">{{
        politicalData.claims[claimId].title
      }}</span></nz-breadcrumb-item
    >
  </nz-breadcrumb>

  <div class="claimprov" style="border-color:{{ politicalData.categories[politicalData.claims[claimId].category].color }}">
    <div class="category">
      Kategorie <strong>{{ politicalData.categories[politicalData.claims[claimId].category].title }}</strong>
    </div>
    <h1>{{ politicalData.claims[claimId].title }}</h1>
    <ng-container *ngIf="politicalData.claims[claimId].description">
      <p [innerHTML]="'**Hintergrund:** ' + politicalData.claims[claimId].description | markdown"></p>
    </ng-container>

    <app-decision-button
      *ngIf="votes[claimId]"
      [vote]="votes[claimId]"
      [agreement]="votes[claimId]?.fav ? agreement.USER_FAV : agreement.USER"
      label="Dein Antwort"
    ></app-decision-button>

    <p>
      <a [routerLink]="'/quiz/' + claimId"><i nz-icon nzType="double-right" nzTheme="outline"></i>&nbsp;Springe zur These im Quiz</a>
    </p>

    <h3>Wie positionieren sich die {{ includeCandidates ? 'Kandidierenden' : 'Listen' }}?</h3>
    <app-claim-candidate-viz
      [claimId]="claimId"
      [claim]="politicalData.claims[claimId]"
      [votes]="votes"
      [politicalData]="politicalData"
      [personalCandidates]="personalData"
      [partyScoreResult]="partyScoreResult"
      [showCandidates]="includeCandidates"
    ></app-claim-candidate-viz>

    <ng-container *ngIf="politicalData.claims[claimId].links && politicalData.claims[claimId].links.length > 0">
      <h5>Weiterführende Informationen zur These</h5>
      <ul>
        <li *ngFor="let link of politicalData.claims[claimId].links">
          <a *ngIf="link.url" [href]="link.url" target="_blank" [title]="link.title">{{ link.title || link.url }}</a>
          <ng-container *ngIf="!link.url">{{ link.title }}</ng-container>
        </li>
      </ul>
    </ng-container>

    <div class="provenance" *ngIf="politicalData.claims[claimId].provenance && politicalData.claims[claimId].provenance.length">
      <h3>Provinienz der These</h3>
      <nz-list nzBordered nzSize="small"
        ><nz-list-item *ngFor="let prov of politicalData.claims[claimId].provenance">
          <span
            ><span class="hintergrund" *ngIf="prov.description">{{ prov.description }}</span
            >&nbsp;<strong>{{ prov.claim }}</strong></span
          >
        </nz-list-item>
      </nz-list>
    </div>

    <div nz-row class="claimNav">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <h3>Weitere Thesen in der Kategorie {{ politicalData.categories[politicalData.claims[claimId].category].title }}</h3>
        <nz-list>
          <ng-container *ngFor="let item of politicalData.claims | keyvalue | slice: 0:6">
            <nz-list-item *ngIf="item.value.category === politicalData.claims[claimId].category && item.key !== claimId">
              <a [routerLink]="['/claim/', item.key]">{{ item.value.title }}</a>
            </nz-list-item>
          </ng-container>
        </nz-list>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <h3>Navigation in der Thesenliste</h3>
        <nz-list>
          <nz-list-item *ngIf="prev">
            <span
              >Vorherige These: <a [routerLink]="['/claim/', prev]">{{ politicalData.claims[prev].title }}</a></span
            >
          </nz-list-item>
          <nz-list-item *ngIf="next">
            <span
              >Nächste These: <a [routerLink]="['/claim/', next]">{{ politicalData.claims[next].title }}</a></span
            >
          </nz-list-item>
          <nz-list-item>
            <span> Alle Thesen in der <a [routerLink]="['/claim/']">Thesenübersicht</a></span>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>
