@import 'src/assets/styles/variables';
.party-button {
  display: inline-block;
  border: 1px dashed black;
  padding: $wb-space-small;
  margin: 0 $wb-space-small $wb-space-small 0 !important;
  &__text {
    margin: $wb-space-small;
    margin-right: 0;
  }
  &__icon {
    margin: $wb-space-small;
  }

  &.party-button--1,
  &.party-button--2,
  &.party-button--3,
  &.party-button--4 {
    background: rgba($wb-logo-wal-color, 0.02);
    border: 2px solid $wb-logo-wal-color;
  }
  &.party-button--5 {
    background: rgba($favcolor, 0.02);
    border: 2px solid $favcolor;
  }
}
