// disable all transitions
.no-animation,
.no-animation * {
  transition: none !important;
  animation: none !important;

  &::before,
  &::after {
    // required for ng-zorro
    transition: none !important;
    animation: none !important;
  }
}

.ant-breadcrumb a {
  color: #757575;
}
.ant-checkbox-disabled + span {
  color: rgb(0, 0, 0, 54%);
}

.ant-btn-primary {
  font-weight: bold;
}

.ant-breadcrumb a {
  color: #484747;
}
nz-breadcrumb-item:last-child {
  color: #111;
}

app-root:not(.no-animation) .shadow-hover:hover {
  box-shadow: $wb-shadow-hover !important;
}
