@import '../../../../../assets/styles/variables';

.card {
  margin: $wb-space-small;
  padding: $wb-space-small;
  word-wrap: break-word;

  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;


  .chart {
    margin: $wb-space-small auto;
    height: 180px;
    width: 100%;
    display: block;
  }

  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-right: -15px;
    margin-left: -15px;
    .candidate-avatar,
    .candidate-content{
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .candidate-avatar {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
      flex: 0 0 15%;
      max-width: 15%;
    }
    .candidate-content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 85%;
      flex: 0 0 85%;
      max-width: 85%;
      .card-title {
        margin-bottom: .75rem;
      }
    }
  }
}
