@import '../../../../../assets/styles/variables';

:host {
  display: block;
}

h1,
.party-list,
p {
  margin: $wb-space-large $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    margin: $wb-space-large 0;
  }
}

.party-list {
  display: grid;
  gap: $wb-space-medium;

  &.unsorted-parties {
    grid-template-columns: repeat(2, 1fr);

    padding: 0 $wb-space-medium;

    @media screen and (max-width: $wb-breakpoint-medium) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }
}
