<nz-breadcrumb>
  <nz-breadcrumb-item><a routerLink="/">Start</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><span title="Aktuelle Seite: Wahllisten">Wahllisten</span></nz-breadcrumb-item>
</nz-breadcrumb>

<h1>Wahllisten</h1>

<section class="party-list">
  <app-party-card
    [partyId]="id"
    [showSocialLinks]="false"
    [politicalData]="politicalData"
    [personalData]="personalData"
    [partyData]="politicalData.parties[id]"
    *ngFor="let id of partyIds | async"
  >
  </app-party-card>
</section>
