<nz-breadcrumb>
  <nz-breadcrumb-item><a routerLink="/">Start</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><span title="Aktuelle Seite: Parteien">Parteien</span></nz-breadcrumb-item>
</nz-breadcrumb>

<h1>Parteien</h1>

<p>
  Das Konzept von DeinWal kann nur Parteien berücksichtigen, die in der letzten Legislaturperiode im deutschen Bundestag vertreten waren.
  <ng-container *ngIf="sortedParties && defaultSort"
    >Die Reihenfolge der Parteien entspricht dem Ergebnis bei der letzten Bundestagswahl.</ng-container
  >
</p>

<section [ngClass]="{ 'party-list': true, 'unsorted-parties': !sortedParties }" *ngIf="politicalData?.parties && partyIds">
  <a
    class="party-link"
    title="Mehr Informationen und Kandidierende von {{ politicalData.parties[id].name }}"
    [routerLink]="['/', 'parties', id]"
    *ngFor="let id of partyIds; let i = index"
  >
    <app-party-card
      *ngIf="i < renderRows"
      [partyId]="id"
      [showSocialLinks]="false"
      [politicalData]="politicalData"
      [personalData]="personalData"
      [partyData]="politicalData.parties[id]"
      [scores]="partyScoreResult?.partyScores"
    >
    </app-party-card>
  </a>
</section>
<app-footer></app-footer>
