@import '../../../../../assets/styles/variables';

.vote-icon-badge-good {
  color: $wb-logo-wal-color; // #f5222d
}
.vote-icon-badge-bad {
  color: $favcolor; // #f5222d
}
i {
  margin-right: $wb-space-x-small;
}
