<ng-container *ngIf="links">
  <a [href]="links.blog" [title]="!!name ? 'Webseite von ' + name : 'Webseite'" *ngIf="links.blog"
    ><i nz-icon nzType="home" nzTheme="fill" alt="Icon für externe Webseite"></i
  ></a>
  <a [href]="links.facebook" [title]="!!name ? 'facebook Seite von ' + name : 'facebook Seite'" *ngIf="links.facebook"
    ><i nz-icon nzType="facebook" nzTheme="fill" alt="Icon von Facebook"></i
  ></a>
  <a [href]="links.twitter" [title]="!!name ? 'Twitter Feed von ' + name : 'Twitter'" *ngIf="links.twitter"
    ><i nz-icon nzType="twitter-square" nzTheme="fill" alt="Icon von Twitter"></i
  ></a>
  <a [href]="links.instagram" [title]="!!name ? 'Instagram von ' + name : 'Instagram'" *ngIf="links.instagram"
    ><i nz-icon nzType="instagram" nzTheme="fill" alt="Icon von Instagram"></i
  ></a>
</ng-container>
