@import '../../../../assets/styles/variables';

#quizcard {
  max-width: 500px;
  /*width: 100%;
  padding: 15px;
  margin: 6rem auto 0 auto;*/
  border: $category-border-size solid;
  border-radius: $category-border-radius;

  padding: $wb-space-x-large;
  margin: $wb-space-x-large auto;

  #card-category {
    margin-top: -2em;
    background: white;
    padding: 0 0.5em;
    width: max-content;
    margin-left: auto;
  }

  #claim-background {
    margin-top: $wb-space-x-large;
    padding: $wb-space-small;
  }
  #claim {
    margin-bottom: $wb-space-x-large;
    padding: $wb-space-small;
  }

  #decision {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;

    #decision-left,
    #decision-right,
    #decision-center {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;
    }
    #decision-left,
    #decision-right {
      flex: 0 0 40%;
      max-width: 40%;
    }
    #decision-center {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .votebtn {
      font-size: 3.5rem;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
      border: 2px solid $wb-color-primary-600;
      color: $wb-color-primary-600;
      background-color: white;

      &.votesmaller {
        font-size: 2.5rem;
        width: 4rem;
        height: 4rem;
      }

      &.selected {
        color: white;
        background-color: $wb-color-primary-600;
      }

      &.votefav {
        border-color: $favcolor;
        color: $favcolor;
      }

      &.votefav.selected {
        color: white;
        background-color: $favcolor;
      }

      //i {
      //width: 100%;
      //height: 100%;
      //}
      //padding: 0.25em 0.75em;
      //min-width: 10ch;
      //min-height: 44px;
    }
  }
  #cardnav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: $wb-space-x-large (-$wb-space-medium) 0 (-$wb-space-medium);

    div {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      flex: 0 0 30%;
      max-width: 30%;
      text-align: center;
      .cardnavbtn {
        color: $wb-color-neutral-700;
        font-size: 1.5rem;
      }
    }
  }
}
