<ng-container *ngIf="partyData | async as party">
  <nz-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/" title="Zurück zur Startseite">Start</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/parties" title="Zur Übersicht der Wahllisten">Wahllisten</a></nz-breadcrumb-item>
    <nz-breadcrumb-item
      ><span title="Aktuelle Seite: Wahlliste {{ party.name }}">{{ party.name }}</span></nz-breadcrumb-item
    >
  </nz-breadcrumb>

  <div class="party-card">
    <div class="party-info">
      <h1 class="name">{{ party.name }}</h1>
      <img class="picture" src="{{ party.picture | pictureUrl }}" alt="Logo der Partei {{ party.name }}" />
      <p class="description">{{ party.shortDescription | markdown }}</p>
      <div class="social">
        <app-social-links [links]="party.links" [name]="party.name"></app-social-links>
      </div>
    </div>

    <div>{{ party.description | markdown }}</div>
  </div>

  <ng-container *ngIf="partyCandidates | async as candidates">
    <h2 class="candidate-headline">Kandidierende</h2>
    <div class="candidate-list">
      <ng-container *ngFor="let candidate of candidates">
        <a class="link" [routerLink]="['/', 'parties', partyId | async, 'candidates', candidate]">
          <app-candidate-card [candidateId]="candidate"></app-candidate-card>
        </a>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
