<ng-container *ngIf="partyData | async as party">
  <h1>{{ party.name }}</h1>
  <div class="party-info">
    <img class="party-picture" src="{{ party.picture | pictureUrl }}" />
    <p class="party-description">{{ party.shortDescription | markdown }}</p>
    <div class="party-social">
      <app-social-links [links]="party.links" [name]="party.name"></app-social-links>
    </div>
  </div>

  <div>{{ party.description | markdown }}</div>
</ng-container>

<ng-container *ngIf="partyCandidates | async as candidates">
  <h2>Kandidierende</h2>
  <div class="candidate-list">
    <app-candidate-card [candidateId]="candidate.candidateId" *ngFor="let candidate of candidates"></app-candidate-card>
  </div>
</ng-container>
