@import '../../../../../assets/styles/variables';

:host {
  display: block;
}

.party-info {
  display: grid;
  gap: $wb-space-x-small;
  grid-template:
    'picture desc desc'
    'picture desc desc'
    'picture social social' (map-get($wb-type-paragraph, 'line-height') + $wb-space-xx-small) /
    minmax(150px, min-content) 1fr 1fr;

  min-height: 150px;
  max-width: 645px;
  margin: $wb-space-medium;
  padding-right: $wb-space-small;

  box-shadow: $wb-shadow-normal;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

  .party-picture {
    height: 100%;
    grid-area: picture;
  }
  .party-description {
    grid-area: desc;
    margin: 0;
    padding: $wb-space-small 0;
  }
  .party-social {
    grid-area: social;
    justify-self: end;
    padding-bottom: $wb-space-xx-small;
  }
}

.candidate-headline {
  margin-top: $wb-space-large;
}
.candidate-list {
  display: grid;
  gap: $wb-space-medium;
  grid-template-columns: repeat(2, 1fr);

  margin: 0 $wb-space-medium;

  @media screen and (max-width: $wb-breakpoint-small) {
    grid-template-columns: 1fr;
  }
}
