@import '../../../../../assets/styles/variables';

:host {
  display: block;
}

.party-card {
  background-color: $wb-color-page-foreground-background;
  box-shadow: $wb-shadow-normal;
  padding: $wb-space-medium $wb-space-large;
  margin: $wb-space-large $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    padding: $wb-space-small $wb-space-medium;
    margin: $wb-space-large 0;
  }

  .party-info {
    //display: grid;
    //gap: $wb-space-x-small;
    //grid-template:
    //  'picture name social' (
    //    map-get($wb-type-h2, 'line-height') + map-get($wb-type-paragraph, 'line-height') + $wb-space-xx-small
    //  ) 'picture desc desc'
    //  'picture desc desc' /
    //  minmax(150px, min-content) minmax(min-content, 2fr) minmax(min-content, 1fr);

    min-height: 150px;
    margin: $wb-space-medium 0;

    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

    .name {
      display: block;
      //grid-area: name;
      margin: 0;
      margin-bottom: $wb-space-medium;
      hyphens: none;
    }

    .picture {
      float: left;
      //grid-area: picture;
      height: 150px;
      max-height: 100%;

      margin: 0;
      margin-right: $wb-space-medium;
    }

    /*.description {
      //grid-area: desc;
      margin: 0;
      margin-top: $wb-space-medium;
      clear: both;
    }*/

    .social {
      //grid-area: social;
      align-self: flex-start;
      padding-bottom: $wb-space-xx-small;
    }
  }
}

.party-decisions {
  background-color: $wb-color-page-foreground-background;
  box-shadow: $wb-shadow-normal;
  padding: $wb-space-medium $wb-space-large;
  margin: $wb-space-large $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    margin: $wb-space-large 0;
    padding: $wb-space-small $wb-space-medium;
  }

  .party-claims nz-collapse {
    margin: 0 $wb-space-small;
  }
}
@media screen and (max-width: $wb-breakpoint-medium) {
  .party-card .party-info {
    grid-template:
      'name name social'
      'picture desc desc' minmax(100px, min-content)
      'nope desc desc' /
      minmax(100px, min-content) minmax(min-content, 2fr) minmax(min-content, 1fr);

    .picture {
      height: 100px;
      margin-right: $wb-space-xx-small;
    }
    .social {
      justify-self: end;
      margin-right: $wb-space-small;
    }
  }
}

.candidate-headline {
  margin: $wb-space-large $wb-space-medium $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    margin: $wb-space-large 0 $wb-space-medium;
  }
}
.candidate-list {
  display: grid;
  gap: $wb-space-medium;
  grid-template-columns: repeat(1, 1fr);

  margin: 0 $wb-space-medium;
  @media screen and (max-width: $wb-breakpoint-medium) {
    margin: 0;
  }

  @media screen and (max-width: $wb-breakpoint-small) {
    grid-template-columns: 1fr;
  }
}
