<ng-container *ngIf="data | async as data">
  <ng-container *ngIf="data.party && data.candidates && data.categoriesWithClaims && data.partyId">
    <nz-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/" title="Zurück zur Startseite">Start</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/parties" title="Zur Übersicht der Wahllisten">Wahllisten</a></nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><span title="Aktuelle Seite: Wahlliste {{ data.party.name }}">{{ data.party.id }}</span></nz-breadcrumb-item
      >
    </nz-breadcrumb>

    <div class="party-card">
      <div class="party-info">
        <img class="picture" src="{{ data.party.picture | pictureUrl: true }}" alt="Logo der Partei {{ data.party.name }}" />
        <h1 class="name">{{ data.party.name }}</h1>
        <!--        <div class="social">-->
        <!--          <app-social-links [links]="data.party.links" [name]="data.party.name"></app-social-links>-->
        <!--        </div>-->
      </div>
      <h4 class="description" [innerHTML]="data.party.shortDescription | markdown: true"></h4>
      <div [innerHTML]="data.party.description | markdown: false"></div>
    </div>

    <nz-tabset class="visualisations">
      <nz-tab nzTitle="Abstimmungsergebnisse">
        <div class="party-decisions">
          <ng-container *ngIf="sortedCategroies | async as d">
            <ng-container *ngFor="let category of d">
              <section class="party-claims">
                <h3>{{ category.category.title }}</h3>

                <nz-collapse class="color-band">
                  <ng-container *ngFor="let claim of category.claims; let i = index">
                    <nz-collapse-panel
                      *ngIf="i < renderRows"
                      [nzHeader]="claim.title"
                      [nzExtra]="voteIcon"
                      [style.border-left-color]="category.category.color"
                      (nzActiveChange)="activate(i)"
                    >
                      <div *ngIf="activePanels[i]">
                        <p class="small" [innerHTML]="claim.description | markdown" *ngIf="claim.description"></p>
                        <app-decision-button
                          [vote]="votes[claim.claimId]"
                          [agreement]="votes[claim.claimId]?.fav ? agreement.USER_FAV : agreement.USER"
                          label="Deine Antwort"
                        ></app-decision-button>

                        <app-decision-button
                          [vote]="data.party.positions[claim.claimId]?.vote"
                          [agreement]="calcAgreement(data.party.positions[claim.claimId]?.vote, votes[claim.claimId])"
                          [label]="data.party.name"
                        ></app-decision-button>

                        <ng-container *ngIf="data.party.positions[claim.claimId]?.reason">
                          <p>Begründung von {{ data.party.name }}:</p>
                          <blockquote [innerHTML]="data.party.positions[claim.claimId]?.reason | markdown"></blockquote>
                        </ng-container>

                        <ng-container *ngIf="includeCandidates && data.candidates as candidates">
                          <app-party-candidates-decision-table
                            [candidates]="candidates"
                            [claimId]="claim.claimId"
                            [partyId]="partyId | async"
                            [personalData]="personalData"
                            [politicalData]="politicalData"
                            [votes]="votes"
                          ></app-party-candidates-decision-table>
                        </ng-container>

                        <app-claim-links [claimId]="claim.claimId"></app-claim-links>
                      </div>
                      <ng-template #voteIcon>
                        <app-decision-icon
                          [vote]="data.party.positions[claim.claimId]?.vote"
                          [agreement]="calcAgreement(data.party.positions[claim.claimId]?.vote, votes[claim.claimId])"
                        ></app-decision-icon>
                      </ng-template>
                    </nz-collapse-panel>
                  </ng-container>
                </nz-collapse>
              </section>
            </ng-container>
          </ng-container>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Kandidierende">
        <ng-container *ngIf="data.candidates as candidates">
          <div class="candidate-list">
            <ng-container *ngFor="let candidate of candidates; let i = index">
              <a class="link" [routerLink]="['/', 'parties', partyId | async, 'candidates', candidate]" *ngIf="i < renderRows">
                <app-candidate-card [candidateId]="candidate"></app-candidate-card>
              </a>
            </ng-container>
          </div>
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</ng-container>
