<nz-collapse>
  <ng-container *ngIf="partyScoreResult">
    <!--    <div *ngFor="let party of partyScores">{{politicalData.parties[party.party].name}}</div>-->
    <nz-collapse-panel
      *ngFor="let party of partyScoreResult.partyScores; let i = index"
      [nzHeader]="politicalData.parties[party.party].name"
      [nzExtra]="voteIcon"
      (nzActiveChange)="activate(i)"
    >
      <div *ngIf="activePanels[i]">
        <div class="party-decision" *ngIf="party.scores[politicalData.claims[claimId].category]">
          <app-decision-button
            [vote]="votes[claimId]"
            [agreement]="votes[claimId]?.fav ? agreement.USER_FAV : agreement.USER"
            label="Deine Antwort"
          ></app-decision-button>

          <app-decision-button
            [vote]="party.scores[politicalData.claims[claimId].category].decisions[claimId]"
            [agreement]="calcAgreement(party.scores[politicalData.claims[claimId].category]?.decisions[claimId] || 0, votes[claimId])"
            [label]="politicalData.parties[party.party].name"
            [link]="'/parties/' + party.party"
          ></app-decision-button>
        </div>
        <div
          class="party-reason"
          *ngIf="politicalData.parties[party.party]?.positions && politicalData.parties[party.party]?.positions[claimId]?.reason"
        >
          <p>Begründung der Liste:</p>
          <blockquote [innerHTML]="politicalData.parties[party.party]?.positions[claimId].reason | markdown"></blockquote>
        </div>

        <ng-container *ngIf="showCandidates">
          <app-party-candidates-decision-table
            [candidates]="candidates[party.party]"
            [claimId]="claimId"
            [partyId]="party.party"
            [personalData]="personalCandidates"
            [politicalData]="politicalData"
            [votes]="votes"
          ></app-party-candidates-decision-table>
          <!--          <table>-->
          <!--            <thead>-->
          <!--              <tr>-->
          <!--                <th>Name</th>-->
          <!--                <th>Position</th>-->
          <!--                <th>Begründung</th>-->
          <!--              </tr>-->
          <!--            </thead>-->
          <!--            <tbody>-->
          <!--              <tr *ngFor="let data of party.candidates | keyvalue: candidateSorter">-->
          <!--                <td>-->
          <!--                  <a [routerLink]="'/parties/' + party.party + '/candidates/' + data.key">-->
          <!--                    {{ (personalCandidates | personalDataOf: data.key).name }}-->
          <!--                  </a>-->
          <!--                </td>-->
          <!--                <td>-->
          <!--                  <app-decision-icon-->
          <!--                    [vote]="politicalData.candidates[data.key].positions[claimId]?.vote"-->
          <!--                    [agreement]="calcAgreement(politicalData.candidates[data.key].positions[claimId]?.vote, votes[claimId])"-->
          <!--                  ></app-decision-icon>-->
          <!--                </td>-->
          <!--                <td>-->
          <!--                  <ng-container *ngIf="politicalData.candidates[data.key]?.positions[claimId]?.reason">{{-->
          <!--                    politicalData.candidates[data.key].positions[claimId].reason | markdown-->
          <!--                  }}</ng-container>-->
          <!--                </td>-->
          <!--              </tr>-->
          <!--            </tbody>-->
          <!--          </table>-->
        </ng-container>

        <app-claim-links [claimId]="claimId" [showMoreInfoLink]="false"></app-claim-links>
      </div>
      <ng-template #voteIcon>
        <app-decision-icon
          [vote]="party.scores[politicalData.claims[claimId].category].decisions[claimId]"
          [agreement]="calcAgreement(party.scores[politicalData.claims[claimId].category].decisions[claimId], votes[claimId])"
        ></app-decision-icon>
      </ng-template>
    </nz-collapse-panel>
  </ng-container>
</nz-collapse>
