<nz-collapse>
  <ng-container *ngIf="partyScoreResult">
    <!--    <div *ngFor="let party of partyScores">{{politicalData.parties[party.party].name}}</div>-->
    <nz-collapse-panel
      *ngFor="let party of partyScoreResult.partyScores; let i = index"
      [nzHeader]="politicalData.parties[party.party].name"
      [nzExtra]="voteIcon"
      (nzActiveChange)="activate(i)"
    >
      <div *ngIf="activePanels[i]">
        <div class="party-decision" *ngIf="party.scores[politicalData.claims[claimId].category]">
          Die Kandidierenden der Liste <a [routerLink]="'/parties/' + party.party">{{ politicalData.parties[party.party].name }}</a>
          <ng-container *ngIf="party.scores[politicalData.claims[claimId].category].decisions[claimId] > voteThreshold">
            haben insgesamt <em>dafür</em> gestimmt.
          </ng-container>
          <ng-container *ngIf="party.scores[politicalData.claims[claimId].category].decisions[claimId] < -voteThreshold">
            haben insgesamt <em>dagegen</em> gestimmt.
          </ng-container>
          <ng-container
            *ngIf="
              party.scores[politicalData.claims[claimId].category].decisions[claimId] >= -voteThreshold &&
              party.scores[politicalData.claims[claimId].category].decisions[claimId] <= voteThreshold
            "
          >
            haben zu dieser These keine Position bezogen.
          </ng-container>
          <app-decision-icon
            [vote]="party.scores[politicalData.claims[claimId].category].decisions[claimId]"
            [agreement]="calcAgreement(party.scores[politicalData.claims[claimId].category].decisions[claimId], votes[claimId])"
          ></app-decision-icon>
        </div>
        <ng-container *ngIf="votes && votes[claimId]">
          <ng-container
            *ngIf="
              (votes[claimId].decision > 0 &&
                party.scores[politicalData.claims[claimId].category].decisions[claimId] > PartyDecisionThreshold) ||
              (votes[claimId].decision < 0 &&
                party.scores[politicalData.claims[claimId].category].decisions[claimId] < -PartyDecisionThreshold)
            "
          >
            <strong>Du hast dich in die gleiche Richtung entschieden!</strong>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="showCandidates">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Begründung</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of party.candidates | keyvalue: candidateSorter">
                <td>
                  <a [routerLink]="'/parties/' + party.party + '/candidates/' + data.key">
                    {{ (personalCandidates | personalDataOf: data.key).name }}
                  </a>
                </td>
                <td>
                  <app-decision-icon
                    [vote]="politicalData.candidates[data.key].positions[claimId]?.vote"
                    [agreement]="calcAgreement(politicalData.candidates[data.key].positions[claimId]?.vote, votes[claimId])"
                  ></app-decision-icon>
                </td>
                <td>
                  <ng-container *ngIf="politicalData.candidates[data.key]?.positions[claimId]?.reason">{{
                    politicalData.candidates[data.key].positions[claimId].reason | markdown
                  }}</ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
      <ng-template #voteIcon>
        <app-decision-icon
          [vote]="party.scores[politicalData.claims[claimId].category].decisions[claimId]"
          [agreement]="calcAgreement(party.scores[politicalData.claims[claimId].category].decisions[claimId], votes[claimId])"
        ></app-decision-icon>
      </ng-template>
    </nz-collapse-panel>
  </ng-container>
</nz-collapse>
