<ng-container *ngIf="candidateId && politicalData && personalInfo">
  <h1>Kandidatenprofil für die Wahl des Studierendenparlaments an der FernUniversität in Hagen</h1>
  <nz-descriptions nzTitle="{{ personalInfo.name }}" nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }">
    <nz-descriptions-item nzTitle="Name">{{ personalInfo.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Pic">{{ personalInfo.picture }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="One-Liner">{{ personalInfo.shortDescription }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Beschreibung">{{ personalInfo.description }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Liste">{{ politicalData.candidates[candidateId].party }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Links"
      ><ul>
        <li *ngFor="let link of personalInfo.links | keyvalue">
          <a href="{{ link.value }}">{{ link.key }}</a>
        </li>
      </ul></nz-descriptions-item
    >
  </nz-descriptions>

  <nz-divider nzText="Die Positionen von {{ personalInfo.name }}"></nz-divider>

  <nz-collapse>
    <nz-collapse-panel
      *ngFor="let position of politicalData.candidates[candidateId].positions | keyvalue"
      [nzHeader]="politicalData.claims[position.key].title"
      [nzExtra]="position.value.vote > 0 ? (position.value.vote == 2 ? icon2 : icon1) : position.value.vote == -2 ? icon_2 : icon_1"
    >
      <p>
        {{ politicalData.claims[position.key].description }} <strong>{{ politicalData.claims[position.key].title }}</strong
        >.
      </p>

      <p>{{ personalInfo.name }} denkt {{ position.value.vote | candidateDecisionToWord }}, denn:</p>

      <blockquote>
        {{ position.value.reason }}
      </blockquote>
    </nz-collapse-panel>
  </nz-collapse>

  <ng-template #icon_2>
    <i nz-icon nzType="dislike" (click)="$event.stopPropagation()"></i>
  </ng-template>
  <ng-template #icon_1>
    <i nz-icon nzType="minus" (click)="$event.stopPropagation()"></i>
  </ng-template>
  <ng-template #icon1>
    <i nz-icon nzType="plus" (click)="$event.stopPropagation()"></i>
  </ng-template>
  <ng-template #icon2>
    <i nz-icon nzType="like" (click)="$event.stopPropagation()"></i>
  </ng-template>
</ng-container>
