<h1>Willkommen zum WahlBerater!</h1>

<section class="welcome-page-nav">
  <a class="nav-block results-link" routerLink="/quiz/results" title="Zur Quiz Auswertung">
    <i nz-icon nzType="bar-chart" nzTheme="outline" class="nav-icon"></i>
    Zur Quiz Auswertung
    <p class="small">Sieh dir deine Ergebnisse von dem letztem Quiz an!</p>
  </a>
  <a class="nav-block quiz-link" routerLink="/quiz" title="Started das Quiz">
    <i nz-icon nzType="question" nzTheme="outline" class="nav-icon"></i>
    Quiz starten
  </a>
  <a class="nav-block candidates-link" routerLink="/candidates" title="Zur Liste aller Kandidierenden">
    <i nz-icon nzType="user" nzTheme="outline" class="nav-icon"></i>
    <!-- damn it. it's too long -->
    Kandidierenden&shy;liste
  </a>
  <a class="nav-block claims-link" routerLink="/claim" title="Zur Liste aller Thesen die die Kandidierenden beantwortet haben">
    <i nz-icon nzType="unordered-list" nzTheme="outline" class="nav-icon"></i>
    Thesenliste
  </a>

  <div class="nav-block privacy-block">
    <label nz-checkbox [ngModel]="true">Speichere die Quizergebnisse auf meinem Gerät</label>
    <p class="small">
      Bevor du deine persönlichen Einstellungen einer Webseite preisgibst solltest du unbedingt
      <i>immer die Datenschutzerklärung lesen und verstehen!</i> Nimm dir daher kurz Zeit und schaue in
      <a routerLink="/docs/privacy">unsere Datenschutzerklärung.</a>
    </p>
  </div>

  <div class="nav-block about-block">
    <h2>Was ist ein Wahl Berater?</h2>
    <p>Der WahlBerater ist dein Berater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</p>
    <p>
      Es ist ein offenes Projekt... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pharetra magna.Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Mauris et pharetra magna.
    </p>
    <p>
      <a routerLink="/docs/about">Hier mehr lesen!</a>
    </p>
  </div>
</section>

<!-- <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center">
  <div nz-col [nzSpan]="16">
    <h1>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h1>
    <h2>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h2>
    <h3>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h3>
    <h4>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h4>
    <h5>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h5>
  </div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center" class="mt">
  <div nz-col [nzSpan]="8">
    <nz-card nzHoverable [nzCover]="coverQuiz" [routerLink]="['/quiz']">
      <nz-card-meta
        nzTitle="Starte das Quiz"
        nzDescription="Das Quiz hilft dir deine Position mit den Positionen der Kandidaten zu vergleichen."
      ></nz-card-meta>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzHoverable [nzCover]="coverCandidates" [routerLink]="['/candidates']">
      <nz-card-meta
        nzTitle="Die Kandidaten"
        nzDescription="Erkunde die Kandidaten für das Studierendenparlaments individuell und manuell."
      ></nz-card-meta>
    </nz-card>
  </div>
</div>

<ng-template #coverQuiz>
  <div nz-row style="font-size: 10em" nzJustify="center" class="mt">
    <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
  </div>
</ng-template>
<ng-template #coverCandidates>
  <div nz-row style="font-size: 10em" nzJustify="center" class="mt">
    <i nz-icon nzType="team" nzTheme="outline"></i>
  </div>
</ng-template>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center" class="mt">
  <div nz-col [nzSpan]="16">
    <nz-card title="Impressum &amp; Datenschutz">
      <p>
        Bevor du deine persönlichen Einstellungen einer Webseite preisgibst solltest du unbedingt
        <strong>immer die Datenschutzerklaerung lesen und verstehen!</strong> Nimm dir daher kurz Zeit und schaue in
        <a [routerLink]="['/docs/privacy']">unsere Datenschutzerklärung.</a>
      </p>
      <p>
        Der WalBerater wird von zweimal Martin und einmal Sophie entwickelt. Im <a [routerLink]="['/docs/about']">Impressum</a> erfährst du
        mehr über uns!
      </p>
    </nz-card>
  </div>
</div> -->

<ng-container *ngIf="data | async as d">
  <nz-divider nzText="Debug"></nz-divider>

  <h2>Thesen</h2>
  <ul *ngIf="d?.categories">
    <li *ngFor="let category of d.categories | keyvalue" class="kategorie" style="background-color:{{ category.value.color }}">
      Kategorie <strong>{{ category.value.title }}</strong> hat folgende thesen:
      <ul>
        <li *ngFor="let these of category.value.claims">
          Background: <em>{{ d.claims[these].background }}</em
          ><br />
          These: <strong>{{ d.claims[these].claim }}</strong
          ><br />
          <small>entstanden aus:</small>
          <ul>
            <li *ngFor="let orgclaim of d.claims[these].provenance">
              <em>{{ orgclaim.background }}</em> -- <strong>{{ orgclaim.claim }}</strong>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h2>Listen</h2>
  <ul *ngIf="d?.parties">
    <li *ngFor="let liste of d.parties | keyvalue" class="liste" style="background-color:{{ liste.value.color }}">
      <a href="{{ liste.value.link }}"
        ><strong>{{ liste.value.name }}:</strong></a
      >
      {{ liste.value.description }}
    </li>
  </ul>

  <h2>Kandidaten</h2>
  <ul *ngIf="d?.candidates">
    <li *ngFor="let candidate of d.candidates | keyvalue">
      <strong>{{ candidate.value.name }}</strong>
      von der Liste
      <em>{{ d.parties[candidate.value.party].name }}</em>
      <ul>
        <li><strong>bild:</strong> {{ candidate.value.pic }}</li>
        <li><strong>oneliner:</strong> {{ candidate.value.oneliner }}</li>
        <li><strong>beschreibung:</strong> {{ candidate.value.description }}</li>
        <li><strong>freitext:</strong> {{ candidate.value.prose }}</li>
        <li>
          <strong>links:</strong>
          <ul>
            <li *ngFor="let link of candidate.value.links | keyvalue">
              <a href="{{ link.value }}">{{ link.key }}</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>positionen:</strong>
          <ul>
            <li *ngFor="let position of candidate.value.positions | keyvalue">
              <strong>These:</strong> {{ position.key }} -- position: <strong>{{ position.value.vote }}</strong> weil
              <em>{{ position.value.reason }}</em>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</ng-container>
