<div class="deinwal-greeting">
  <h1>Willkommen bei DeinWal!</h1>
  <div class="deinwal-logo">
    <object type="image/svg+xml" data="/assets/static/wal.svg" class="deinwal-image">
      <img src="/assets/static/wal.png" alt="DeinWal.de - Du hast den Wal!" />
    </object>
  </div>
  <div class="deinwal-erklaerung">
    <div class="deinwal-erklaerung-text">
      <h3>DeinWal zur Bundestagswahl 2021</h3>
      <p class="small">Mit deinem Wal kannst du prüfen, welche Partei wie du denkt.</p>

      <p class="small">
        Du kannst hier die Abstimmungen der letzten Legislaturperiode von 2017 - 2021 nachspielen, als wärst du selbst dabei gewesen! In der
        Auswertung siehst du, welche Parteien in deinem Sinne abgestimmt haben.
      </p>

      <p class="small">
        Auch wenn DeinWal dem Wahl-O-Mat sehr ähnelt, steckt doch ein ganz anderes Konzept dahinter. Hier sagen die Parteien nicht, wie sie
        zu einem Thema abstimmen würden — hier zählt, wie sie zu einem Thema tatsächlich abgestimmt haben!
      </p>
    </div>
  </div>
</div>
<div style="clear: both"></div>

<section class="welcome-page-nav">
  <a
    class="nav-block shadow-hover results-link"
    routerLink="/quiz/{{ ResultUrlPath }}"
    title="Zur Quiz Auswertung"
    *ngIf="lastQuizPage !== QuizFirstPagePath"
  >
    <i nz-icon nzType="bar-chart" nzTheme="outline" class="nav-icon"></i>
    Zur Quiz Auswertung
    <p class="small">Sieh dir deine Ergebnisse von dem letztem Quiz an!</p>
  </a>
  <!-- Quiz link, wenn das Quiz noch nie gespielt oder durchgespielt wurde -->
  <a
    class="nav-block shadow-hover quiz-link"
    routerLink="/quiz/{{ accessibilityModes?.accessibilityMode ? AccessibleUrlPath : QuizFirstPagePath }}"
    title="Startet das Quiz"
    *ngIf="lastQuizPage === QuizFirstPagePath || lastQuizPage === ResultUrlPath"
  >
    <i nz-icon nzType="question" nzTheme="outline" class="nav-icon" alt="Fragen Icon"></i>
    Quiz starten
  </a>
  <!-- Quiz link, wenn es mittendrin beendet wurde und accessibilityMode **AUS** ist -->
  <a
    class="nav-block shadow-hover quiz-link"
    routerLink="/quiz/{{ lastQuizPage }}"
    title="Setzt das Quiz fort"
    *ngIf="lastQuizPage !== QuizFirstPagePath && lastQuizPage !== ResultUrlPath && !accessibilityModes?.accessibilityMode"
  >
    <i nz-icon nzType="question" nzTheme="outline" class="nav-icon"></i>
    Quiz fortsetzen
  </a>
  <!-- Quiz link, wenn es mittendrin beendet wurde und accessibilityMode **AN** ist -->
  <a
    class="nav-block shadow-hover quiz-link"
    routerLink="/quiz/{{ AccessibleUrlPath }}"
    [fragment]="sAccessibleUrlFragment + lastQuizPage"
    title="Setzt das Quiz fort"
    *ngIf="lastQuizPage !== QuizFirstPagePath && lastQuizPage !== ResultUrlPath && accessibilityModes?.accessibilityMode"
  >
    <i nz-icon nzType="question" nzTheme="outline" class="nav-icon"></i>
    Quiz fortsetzen
  </a>
  <a class="nav-block shadow-hover candidates-link" routerLink="/parties" title="Zur Liste aller Kandidierenden">
    <i nz-icon nzType="user" nzTheme="outline" class="nav-icon" alt="Personen Icon"></i>
    Parteien
  </a>
  <a class="nav-block shadow-hover claims-link" routerLink="/claim" title="Zur Liste aller Thesen die die Kandidierenden beantwortet haben">
    <i nz-icon nzType="unordered-list" nzTheme="outline" class="nav-icon" alt="Thesen Icon"></i>
    Thesen
  </a>
</section>

<div class="deinwal-settings">
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
      <nz-card nzTitle="Speichern"
        ><label
          nz-checkbox
          [ngModel]="localStorageAllowed | async"
          (ngModelChange)="updateLocalStorageOptIn($event)"
          [nzDisabled]="(localStorageSupported | async) !== true"
          >Speichere die Quizergebnisse auf meinem Gerät
          <ng-container *ngIf="(localStorageSupported | async) !== true">(nicht unterstützt, siehe unten)</ng-container></label
        >
        <p class="small" *ngIf="(localStorageSupported | async) !== true">
          Dein Browser unterstützt die <em>localStorage</em> Funktion leider nicht. Diese benötigt der WahlBerater zum Speichern von
          Einstellungen und Abstimmungsergebnissen. Falls du ein PlugIn zum Blockieren dieser Funktion einsetzt, solltest du es deaktivieren
          falls du die Quizergebnisse auf diesem Gerät speichern möchtest. Der WahlBerater funktioniert auch ohne diese Funktion.
        </p>

        <p class="small" *ngIf="(localStorageSupported | async) === true">
          Bevor du deine persönlichen Einstellungen einer Webseite preisgibst solltest du unbedingt
          <em>immer die <a routerLink="/docs/privacy">Datenschutzerklärung lesen und verstehen!</a></em>
        </p>
        <p class="small" *ngIf="(localStorageSupported | async) === true">
          Du kannst deine Entscheidungen jeder Zeit löschen, um das Quiz zum Beispiel nochmal von vorn zu starten:
        </p>
        <button
          nz-button
          nzType="primary"
          nzDanger
          *ngIf="(localStorageSupported | async) === true && localStorageAllowed | async"
          (click)="deleteData()"
        >
          Entscheidungen löschen
        </button>
      </nz-card>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
      <nz-card nzTitle="Barrierefreiheit">
        <label nz-checkbox nzNoAnimation [ngModel]="accessibilityModes?.reducedMotionMode" (ngModelChange)="updateReducedMotionMode($event)"
          >Modus ohne Animationen</label
        >
        <br />
        <label nz-checkbox nzNoAnimation [ngModel]="accessibilityModes?.accessibilityMode" (ngModelChange)="updateAccessibilityMode($event)"
          >Barrierefreier Modus mit reduzierten grafischen Elementen</label
        >
        <p class="small">
          Falls du Anregungen oder Fragen zu diesem Modus hast,
          <em>dann zögere bitte nicht uns zu <a routerLink="/docs/about">kontaktieren</a>.</em><br />
          Wenn du die Speicherung der Quizergebnisse erlaubst, wird deine Einstellung zum barrierefreien Modus ebenfalls gespeichert. Bitte
          lies dazu
          <a routerLink="/docs/privacy">unsere Datenschutzerklärung</a>.
        </p>
      </nz-card>
    </div>
  </div>
</div>

<div class="deinwal-archiv">
  <h3>DeinWal Archiv</h3>

  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
      <a href="https://deinwal.de/bundestagswal2017">
        <nz-card nzHoverable [nzCover]="BudestagsWalCover" nzTitle="BundestagsWal 2017">
          Hier kannst du die Abstimmungen im <strong>Bundestag der 18. Legislaturperiode (2013-2017)</strong> nachspielen.
        </nz-card>
      </a>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
      <a href="https://deinwal.de/europawal2019">
        <nz-card nzHoverable [nzCover]="EuropaWalCover" nzTitle="EuropaWal 2019">
          Hier kannst du die Abstimmungen der <strong>8. Legislaturperiode (2014-2019) im Europaparlament</strong> nachspielen.
        </nz-card>
      </a>
    </div>

    <ng-template #BudestagsWalCover>
      <img alt="BundestagsWal 2017" src="/assets/static/bundestagswal.svg" />
    </ng-template>
    <ng-template #EuropaWalCover>
      <img alt="BundestagsWal 2017" src="/assets/static/europawal.svg" />
    </ng-template>
  </div>
  <app-footer></app-footer>
</div>
