<h1>Willkommen zum WahlBerater!</h1>

<section class="welcome-page-nav">
  <a
    class="nav-block results-link"
    routerLink="/quiz/{{ ResultUrlPath }}"
    title="Zur Quiz Auswertung"
    *ngIf="(lastQuizPage | async) !== QuizFirstPagePath"
  >
    <i nz-icon nzType="bar-chart" nzTheme="outline" class="nav-icon"></i>
    Zur Quiz Auswertung
    <p class="small">Sieh dir deine Ergebnisse von dem letztem Quiz an!</p>
  </a>
  <a class="nav-block quiz-link" routerLink="/quiz" title="Startet das Quiz" *ngIf="(lastQuizPage | async) === QuizFirstPagePath">
    <i nz-icon nzType="question" nzTheme="outline" class="nav-icon" alt="Fragen Icon"></i>
    Quiz starten
  </a>
  <a
    class="nav-block quiz-link"
    routerLink="/quiz/{{ lastQuizPage | async }}"
    title="Setzt das Quiz fort"
    *ngIf="(lastQuizPage | async) !== QuizFirstPagePath"
  >
    <i nz-icon nzType="question" nzTheme="outline" class="nav-icon"></i>
    Quiz fortsetzen
  </a>
  <a class="nav-block candidates-link" routerLink="/parties" title="Zur Liste aller Kandidierenden">
    <i nz-icon nzType="user" nzTheme="outline" class="nav-icon" alt="Personen Icon"></i>
    <!-- damn it. it's too long -->
    Wahl&shy;listen
  </a>
  <a class="nav-block claims-link" routerLink="/claim" title="Zur Liste aller Thesen die die Kandidierenden beantwortet haben">
    <i nz-icon nzType="unordered-list" nzTheme="outline" class="nav-icon" alt="Thesen Icon"></i>
    Thesen
  </a>

  <div class="nav-block privacy-block">
    <label
      nz-checkbox
      [ngModel]="localStorageAllowed | async"
      (ngModelChange)="updateLocalStorageOptIn($event)"
      [nzDisabled]="(localStorageSupported | async) !== true"
      >Speichere die Quizergebnisse auf meinem Gerät</label
    >
    <p class="small" *ngIf="(localStorageSupported | async) !== true">
      Dein Browser unterstützt die <em>localStorage</em> Funktion leider nicht. Diese benötigt der WahlBerater zum Speichern von
      Einstellungen und Abstimmungsergebnissen. Falls du ein PlugIn zum Blockieren dieser Funktion einsetzt, solltest du es deaktivieren
      falls du die Quizergebnisse auf diesem Gerät speichern möchtest. Der WahlBerater funktioniert auch ohne diese Funktion.
    </p>

    <p class="small">
      Bevor du deine persönlichen Einstellungen einer Webseite preisgibst solltest du unbedingt
      <em>immer die Datenschutzerklärung lesen und verstehen!</em> Nimm dir daher kurz Zeit und schaue in
      <a routerLink="/docs/privacy">unsere Datenschutzerklärung</a>.
    </p>
  </div>

  <div class="nav-block accessibility-mode-block no-animation nz-animate-disabled" [@.disabled]="true">
    <label
      nz-checkbox
      nzNoAnimation
      [ngModel]="(accessibilityModes | async)?.reducedMotionMode"
      (ngModelChange)="updateReducedMotionMode($event)"
      >Aktiviere einen Modus ohne Animationen</label
    >
    <br />
    <label
      nz-checkbox
      nzNoAnimation
      [ngModel]="(accessibilityModes | async)?.accessibilityMode"
      (ngModelChange)="updateAccessibilityMode($event)"
      >Aktiviere einen barrierefreien Modus mit reduzierten grafischen Elementen</label
    >
    <p class="small">
      Manchen Menschen fällt der Zugang zu Informationen schwer, die nur visuell aufbereitet sind oder mit vielen Animationen versehen
      wurden. Um allen den Zugang zum WahlBerater zu ermöglichen, bieten wir einen barrierefreien Modus ohne Animationen und mit textuellen,
      anstatt visueller, Aufbereitung von Informationen. Falls du Anregungen oder Fragen zu diesem Modus hast,
      <em>dann zögere bitte nicht uns zu <a routerLink="/docs/about">kontaktieren</a>.</em><br />
      Wenn du die Speicherung der Quizergebnisse erlaubst, wird auch deine Einstellung zum barrierefreien Modus gespeichert. Bitte lies dazu
      <a routerLink="/docs/privacy">unsere Datenschutzerklärung</a>.
    </p>
  </div>

  <div class="nav-block about-block">
    <h2>Was ist ein Wahl Berater?</h2>
    <p>Der WahlBerater ist dein Berater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</p>
    <p>
      Es ist ein offenes Projekt... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pharetra magna.Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Mauris et pharetra magna.
    </p>
    <p>
      <a routerLink="/docs/about">Hier mehr erfahren!</a> &mdash; <a routerLink="/docs/privacy">Datenschutz</a> &mdash;
      <a routerLink="/docs/imprint">Impressum</a>
    </p>
  </div>
</section>

<!-- <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center">
  <div nz-col [nzSpan]="16">
    <h1>Der WahlBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h1>
    <h2>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h2>
    <h3>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h3>
    <h4>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h4>
    <h5>Der WalBerater ist dein Wahlberater für die Wahlen des Studierendenparlaments 2021 an der FernUniversität in Hagen.</h5>
  </div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center" class="mt">
  <div nz-col [nzSpan]="8">
    <nz-card nzHoverable [nzCover]="coverQuiz" [routerLink]="['/quiz']">
      <nz-card-meta
        nzTitle="Starte das Quiz"
        nzDescription="Das Quiz hilft dir deine Position mit den Positionen der Kandidaten zu vergleichen."
      ></nz-card-meta>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzHoverable [nzCover]="coverCandidates" [routerLink]="['/candidates']">
      <nz-card-meta
        nzTitle="Die Kandidaten"
        nzDescription="Erkunde die Kandidaten für das Studierendenparlaments individuell und manuell."
      ></nz-card-meta>
    </nz-card>
  </div>
</div>

<ng-template #coverQuiz>
  <div nz-row style="font-size: 10em" nzJustify="center" class="mt">
    <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
  </div>
</ng-template>
<ng-template #coverCandidates>
  <div nz-row style="font-size: 10em" nzJustify="center" class="mt">
    <i nz-icon nzType="team" nzTheme="outline"></i>
  </div>
</ng-template>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center" class="mt">
  <div nz-col [nzSpan]="16">
    <nz-card title="Impressum &amp; Datenschutz">
      <p>
        Bevor du deine persönlichen Einstellungen einer Webseite preisgibst solltest du unbedingt
        <strong>immer die Datenschutzerklaerung lesen und verstehen!</strong> Nimm dir daher kurz Zeit und schaue in
        <a [routerLink]="['/docs/privacy']">unsere Datenschutzerklärung.</a>
      </p>
      <p>
        Der WahlBerater wird von zweimal Martin und einmal Sophie entwickelt. Im <a [routerLink]="['/docs/about']">Impressum</a> erfährst du mehr über uns!
      </p>
    </nz-card>
  </div>
</div> -->
