<app-decision-templates #decisionTemplates></app-decision-templates>
<ng-container *ngIf="category">
  <h3>{{ category.title }}</h3>
  <nz-collapse *ngIf="claims">
    <ng-container *ngFor="let claim of claims; let i = index">
      <nz-collapse-panel
        *ngIf="claim.category === categoryId && i < renderRows"
        class="claim"
        [nzHeader]="claim.shorttitle || claim.title"
        [nzExtra]="voteIcon"
        (nzActiveChange)="activate(i)"
      >
        <div *ngIf="activePanels[i]">
          <div nz-row class="claim-info">
            <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="12">
              <p class="background" *ngIf="claim.description">
                <strong>Hintergrund:</strong>&nbsp;<span [innerHTML]="claim.description | markdown"></span>
              </p>
              <p class="these"><strong>These:</strong>&nbsp;<span [innerHTML]="claim.title | markdown"></span></p>
            </div>
            <div nz-col class="own-decision" nzXs="24" nzSm="24" nzLg="12" nzXl="12">
              <app-decision-button
                [vote]="votes[claim.claimId]"
                [agreement]="votes[claim.claimId]?.fav ? agreement.USER_FAV : agreement.USER"
                label="Deine Antwort"
              ></app-decision-button>
            </div>
          </div>
          <h4 *ngIf="this.accessibilityModes?.accessibilityMode">Positionen der Parteien:</h4>
          <app-claim-party-buttons
            [claimId]="claim.claimId"
            [claim]="claim"
            [votes]="votes"
            [politicalData]="politicalData"
            [personalCandidates]="personalCandidates"
            [partyScoreResult]="partyScoreResult"
            [showCandidates]="false"
          ></app-claim-party-buttons>

          <app-claim-links [claimId]="claim.claimId"></app-claim-links>
        </div>
        <ng-template #voteIcon>
          <app-decision-icon
            [vote]="votes[claim.claimId]"
            [agreement]="votes[claim.claimId]?.fav ? agreement.USER_FAV : agreement.USER"
          ></app-decision-icon>
        </ng-template>
      </nz-collapse-panel>
    </ng-container>
  </nz-collapse>
</ng-container>
