<app-decision-templates #decisionTemplates></app-decision-templates>
<ng-container *ngIf="category">
  <h3>{{ category.title }}</h3>
  <nz-collapse *ngIf="claims">
    <ng-container *ngFor="let claim of claims | keyvalue; let i = index">
      <nz-collapse-panel
        *ngIf="claim.value.category === categoryId"
        class="claim"
        [nzHeader]="claim.value.title"
        [nzExtra]="voteIcon"
        (nzActiveChange)="activate(i)"
      >
        <div *ngIf="activePanels[i]">
          <div nz-row>
            <p class="background" *ngIf="claim.value.description" nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="12">
              <span [innerHTML]="claim.value.description | markdown"></span>
            </p>

            <app-decision-button
              *ngIf="votes[claim.key]"
              [icon]="votes[claim.key]"
              [ownDecision]="true"
              label="Dein Antwort"
              nz-col
              nzXs="24"
              nzSm="24"
              nzLg="12"
              nzXl="12"
            ></app-decision-button>
          </div>
          <h4>Positionen der Listen:</h4>
          <app-claim-party-buttons
            [claimId]="claim.key"
            [claim]="claim.value"
            [votes]="votes"
            [politicalData]="politicalData"
            [personalCandidates]="personalCandidates"
            [partyScoreResult]="partyScoreResult"
            [showCandidates]="false"
          ></app-claim-party-buttons>

          <ul class="small claim-bottom">
            <li class="more-info">
              <i nz-icon nzType="double-right" nzTheme="outline"></i
              ><a [routerLink]="'/claim/' + claim.key">Mehr Informationen zu dieser These mit detailierten Antworten der Kandidierenden.</a>
            </li>
            <li class="redecide">
              <i nz-icon nzType="double-right" nzTheme="outline"></i
              ><a [routerLink]="'/quiz/' + claim.key" *ngIf="!this.accessibilityModes?.accessibilityMode"
                >Zurück zum Quiz, um Entscheidung zu ändern.</a
              >
              <a
                [routerLink]="'/quiz/' + AccessibleUrlPath"
                [fragment]="sAccessibleUrlFragment + claim.key"
                *ngIf="this.accessibilityModes?.accessibilityMode"
                >Zurück zum Quiz, um Entscheidung zu ändern.</a
              >
            </li>
          </ul>
        </div>
        <ng-template #voteIcon>
          <app-decision-icon [vote]="votes[claim.key]" voteContext="USER"></app-decision-icon>
        </ng-template>
      </nz-collapse-panel>
    </ng-container>
  </nz-collapse>
</ng-container>
