
<h3>{{ category.title }}</h3>
<nz-collapse *ngIf="claims">
  <nz-collapse-panel
    *ngFor="let claim of claims | keyvalue"
    class="claim"
    [nzHeader]="claim.value.title"
    [nzExtra]="getUserTemplate (votes[claim.key])">
    <div class="background" [innerHTML]="claim.value.description | markdown"></div>
    <span *ngIf="votes[claim.key]"> Deine Antwort: {{ votes[claim.key].decision | decisionToWord: votes[claim.key].fav }} </span>
    <a [routerLink]="'/quiz/' + claim.key">Zurück zur These, um Entscheidung zu ändern.</a>

<h4>Was denken die Kandidaten?</h4>
<app-claim-candidate-viz
  [claimId]="claim.key"
  [claim]="claim.value"
  [votes]="votes"
  [politicalData]="politicalData"
  [personalCandidates]="personalCandidates"
></app-claim-candidate-viz>





  </nz-collapse-panel>
</nz-collapse>


<ng-template #skip>
  ~
</ng-template>
<ng-template #nono>
  <nz-badge [nzCount]="star">
    <i nz-icon nzType="dislike" nzTheme="outline" (click)="$event.stopPropagation()" class="vote-icon"></i>
  </nz-badge>
</ng-template>
<ng-template #no>
  <i nz-icon nzType="dislike" nzTheme="outline" (click)="$event.stopPropagation()" class="vote-icon"></i>
</ng-template>
<ng-template #yes>
  <i nz-icon nzType="like" nzTheme="outline" (click)="$event.stopPropagation()" class="vote-icon"></i>
</ng-template>
<ng-template #yesyes>
  <nz-badge [nzCount]="star">
    <i nz-icon nzType="like" nzTheme="outline" (click)="$event.stopPropagation()" class="vote-icon"></i>
  </nz-badge>
</ng-template>
<ng-template #star>
  <i nz-icon nzType="star" nzTheme="fill" class="ant-scroll-number-custom-component" style="color: #f5222d" (click)="$event.stopPropagation()"></i>
</ng-template>
