@import '../../../../assets/styles/variables';

:host {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;

  @media screen and (max-width: $wb-breakpoint-small) {
    flex-flow: column nowrap;
  }
}

.tile-menu {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: $wb-space-small;

  .nav-block {
    padding: $wb-space-small $wb-space-medium;
    // border: 1px solid transparent;
    text-align: center;

    display: flex;
    flex-flow: column;
    align-self: stretch;
    justify-content: center;
    align-content: center;

    @include use-typography($wb-type-strong);
    color: $wb-color-neutral-600;
    background-color: $wb-color-neutral-0;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 1.5px 3px 0 rgba(0, 0, 0, 0.05), 0 2.5px 6px 2px rgba(0, 0, 0, 0.06);

    transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;

    &:hover {
      color: $wb-color-secondary-400;
      // border-color: $wb-color-secondary-400;
      text-decoration: none;
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.21), 0 3px 6px 0 rgba(0, 0, 0, 0.17), 0 5px 12px 4px rgba(0, 0, 0, 0.14);
    }
    &.active,
    &:active {
      // border-color: $wb-color-secondary-600;
      background-color: $wb-color-secondary-900;
      color: $wb-color-primary-100;
    }
    &.active:hover,
    &:active:hover {
      color: $wb-color-secondary-700;
      background-color: $wb-color-secondary-0;
      // border-color: $wb-color-secondary-400;
    }

    .nav-icon {
      display: block;
      font-size: 48px;
      margin: 0;
      margin-bottom: $wb-space-x-small;
    }
  }
}

.boring-menu {
  padding-left: $wb-space-medium;
  margin-left: auto;
  align-self: flex-end;

  @media screen and (max-width: $wb-breakpoint-small) {
    margin-left: 0;
    margin-top: $wb-space-small;
    align-self: flex-start;
  }
}
