<a
  class="nav-block home-link"
  routerLink="/"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  title="Zurück zur Startseite"
>
  <i nz-icon nzType="home" nzTheme="outline" class="nav-icon"></i>
  Start
</a>

<a
  class="nav-block results-link"
  routerLink="/quiz/{{ResultUrlPath}}"
  routerLinkActive="active"
  title="Zur Quiz Auswertung"
  *ngIf="(lastQuizPage | async) === ResultUrlPath"
>
  <i nz-icon nzType="bar-chart" nzTheme="outline" class="nav-icon"></i>
  Auswertung
</a>

<a
  class="nav-block quiz-link"
  routerLink="/quiz/{{lastQuizPage | async}}"
  routerLinkActive="active"
  title="Started das Quiz"
  *ngIf="(lastQuizPage | async) !== ResultUrlPath"
>
  <i nz-icon nzType="question" nzTheme="outline" class="nav-icon"></i>
  Quiz
</a>

<a class="nav-block candidates-link" routerLink="/candidates" routerLinkActive="active" title="Zur Liste aller Kandidierenden">
  <i nz-icon nzType="user" nzTheme="outline" class="nav-icon"></i>
  Kandi&shy;dierende
</a>

<a
  class="nav-block claims-link"
  routerLink="/claim"
  routerLinkActive="active"
  title="Zur Liste aller Thesen die die Kandidierenden beantwortet haben"
>
  <i nz-icon nzType="unordered-list" nzTheme="outline" class="nav-icon"></i>
  Thesen
</a>

<ul class="boring-menu">
  <li><a routerLink="/docs/about" routerLinkActive="active">WahlBerater Projekt</a></li>
  <li><a routerLink="/docs/privacy" routerLinkActive="active">Datenschutz</a></li>
  <li><a routerLink="/docs/imprint" routerLinkActive="active">Impressum</a></li>
</ul>
