@import '../../../../assets/styles/variables';

:host {
  display: grid;
  width: 100%;
  height: 100%;

  gap: $wb-space-small;
  grid-template:
    'home       quiz    logo' 1fr
    'candidates claims  boring' 1fr
    / 1fr 1fr minmax(185px, auto);

  @media screen and (max-width: $wb-breakpoint-small) {
    grid-template:
      'home       quiz  ' 1fr
      'candidates claims' 1fr
      'boring     boring' auto
      / 1fr 1fr;
  }
}

.nav-block {
  padding: $wb-space-small $wb-space-medium;
  // border: 1px solid transparent;
  text-align: center;

  display: flex;
  flex-flow: column;
  align-self: stretch;
  justify-content: center;
  align-content: center;

  @include use-typography($wb-type-strong);
  color: $wb-color-neutral-600;
  background-color: $wb-color-neutral-0;
  box-shadow: $wb-shadow-normal;

  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;

  &:hover {
    color: $wb-color-secondary-400;
    // border-color: $wb-color-secondary-400;
    text-decoration: none;
    box-shadow: $wb-shadow-hover;
  }
  &.active,
  &:active {
    // border-color: $wb-color-secondary-600;
    background-color: $wb-color-secondary-900;
    color: $wb-color-primary-100;
  }
  &.active:hover,
  &:active:hover {
    color: $wb-color-secondary-700;
    background-color: $wb-color-secondary-0;
    // border-color: $wb-color-secondary-400;
  }

  .nav-icon {
    display: block;
    font-size: 48px;
    margin: 0;
    margin-bottom: $wb-space-x-small;
  }

  &.home-link {
    grid-area: home;
  }
  &.results-link,
  &.quiz-link {
    grid-area: quiz;
  }
  &.candidates-link {
    grid-area: candidates;
  }
  &.claims-link {
    grid-area: claims;
  }
}

.boring-menu {
  grid-area: boring;
  align-self: end;
  justify-self: center;

  margin: 0;
  padding-left: $wb-space-medium;

  @media screen and (max-width: $wb-breakpoint-small) {
    align-self: start;
    justify-self: start;
  }
}
