<ng-container *ngIf="partyScoreResult">
  <ng-container *ngFor="let party of partyScoreResult.partyScores">
    <app-decision-button
      *ngIf="party.scores[politicalData.claims[claimId].category].decisions[claimId]"
      [label]="politicalData.parties[party.party].name"
      [link]="['/', 'parties', party.party]"
      [vote]="party.scores[politicalData.claims[claimId].category].decisions[claimId]"
      [agreement]="agreement(party.scores[politicalData.claims[claimId].category]?.decisions[claimId] || 0, votes[claimId])"
    >
    </app-decision-button>
  </ng-container>
</ng-container>
