@import '../../../../../assets/styles/variables';

#candidate-list {
  //display: flex;
  //flex-wrap: wrap;
  .candidate-preview {
    //flex: 50%;
    float: left;
    width: 50%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
