<div id="accessible-auswertung">
  <div *ngIf="partyScoreResult?.partyScores">
    <div
      *ngFor="let party of partyScoreResult.partyScores"
      class="party-score"
      style="border-color:{{ politicalData.parties[party.party].color }}"
    >
      Die Liste
      <a
        class="party-link"
        title="Mehr Informationen und Kandidierende von {{ politicalData.parties[party.party].name }}"
        [routerLink]="['/', 'parties', party.party]"
        >{{ politicalData.parties[party.party].name }}</a
      >
      hat einen Punktestand von {{ party.score.score | number: '1.0-2' }} erreicht.
      <ng-container *ngIf="party.score.score > 0">
        Dabei konnte sie in den folgenden Kategorien punkten:
        <ul>
          <ng-container *ngFor="let category of party.scores | keyvalue">
            <li *ngIf="category.value.score.score > 0">
              {{ politicalData.categories[category.key].title }}: {{ category.value.score.score | number: '1.0-2' }} Punkt{{
                category.value.score.score == 1 ? '' : 'e'
              }}
            </li>
          </ng-container>
        </ul>
        <!-- candidates -->
        <ng-container *ngIf="showCandidates && party.candidates">
          Die Kandidierenden der Liste haben wie folge abgeschnitten:
          <ul>
            <ng-container *ngFor="let candidate of party.candidates | keyvalue: candidateSorter">
              <li>
                <a [routerLink]="['/', 'parties', party.party, 'candidates', candidate.value.id]">{{ candidate.value.personal.name }}</a>
                erzielte {{ candidate.value.score.score }} Punkte<ng-container *ngIf="candidate.value.score.score <= 0">.</ng-container
                ><ng-container *ngIf="candidate.value.score.score > 0"
                  >:
                  <ul>
                    <ng-container *ngFor="let category of candidate.value.scores | keyvalue">
                      <li *ngIf="category.value.score.score > 0">
                        {{ category.value.score.score }} Punkt{{ category.value.score.score == 1 ? '' : 'e' }} in der Kategorie
                        {{ politicalData.categories[category.key].title }}
                      </li>
                    </ng-container>
                  </ul>
                </ng-container>
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
