@import '../../../../../assets/styles/variables';

:host {
  display: block;
}

.party-card {
  display: grid;
  gap: $wb-space-x-small;
  grid-template:
    'picture name name'
    'picture desc desc'
    'picture candidates candidates'
    'picture social link';

  min-height: 150px;
  padding-right: $wb-space-small;

  border-left: $wb-space-xx-small solid transparent;
  box-shadow: $wb-shadow-normal;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

  &:hover {
    box-shadow: $wb-shadow-hover;
  }
}

.party-picture {
  // height: 100%;
  max-width: 100%;
  max-height: 100%;

  grid-area: picture;
  justify-self: center;
  align-self: center;
}
.party-name {
  grid-area: name;
  margin-top: $wb-space-small;
  margin-bottom: 0;
}
.party-description {
  grid-area: desc;
  margin: 0;
}

.party-candidates {
  grid-area: candidates;
  display: flex;

  .candidate-picture {
    content: ' ';
    display: block;
    width: 24px;
    height: 24px;

    background-color: gray;
    border: 2px solid black;
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: -8px;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
    }
  }
}
.party-social {
  grid-area: social;
}
.party-link {
  grid-area: link;
  justify-self: end;
  text-align: right;
}
.party-social,
.party-link {
  margin-bottom: $wb-space-small;
}
