<div class="candidate-card" *ngIf="politicalInfo && personalInfo">
  <img
    class="picture"
    src="{{ personalInfo.picture | pictureUrl }}"
    [routerLink]="['/', 'parties', politicalInfo.party, 'candidates', candidateId]"
    alt="Bild von {{ personalInfo.name }}"
  />
  <h3 class="name">{{ personalInfo.name }}</h3>
  <p class="description">{{ personalInfo.shortDescription | markdown }}</p>
  <div class="social" *ngIf="showSocialLinks">
    <app-social-links [links]="personalInfo.links" [name]="personalInfo.name"></app-social-links>
  </div>
  <a
    class="link"
    title="Mehr Informationen zu {{ personalInfo.name }}"
    [routerLink]="['/', 'parties', politicalInfo.party, 'candidates', candidateId]"
  >
    Mehr Informationen
  </a>
</div>
