.page-layout {
  min-height: 100vh;
}

.menu-layout {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 900;

  .logo {
    height: 72px;
    margin: 15px;
    background-color: red;
  }
}

.menu-open-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  color: white;
}
