@import '../../../../assets/styles/variables';

$nav-height: 46px;

:host {
  display: grid;
  width: 100%;
  margin: 0;

  grid-template:
    'nav nav nav' 46px
    'space-left main space-right' auto
    / minmax($wb-space-medium, 33vw) minmax($wb-breakpoint-medium, 98vw) minmax($wb-space-medium, 33vw);

  // no side-spacing on smaller devices
  @media screen and (max-width: $wb-breakpoint-medium) {
    grid-template:
      'nav' 46px
      'main' auto;

    main {
      padding-left: $wb-space-small;
      padding-right: $wb-space-small;
    }
  }
}

header {
  grid-area: nav;
  display: flex;
  position: fixed;
  z-index: 90999;
  width: 100%;

  margin: 0;
  background-color: $wb-color-primary-600;

  .logo {
    display: block;

    height: 100%;
    min-width: 120px;
    padding: $wb-space-x-small $wb-space-medium;
    img,
    svg {
      max-height: 100%;
    }
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    padding: $wb-space-small $wb-space-medium;

    font-size: 14px;

    color: $wb-color-primary-200;
    &:hover {
      color: $wb-color-primary-900;
    }
    &:active {
      color: $wb-color-primary-200;
    }
  }
}

main {
  margin: 0;
  padding-top: $wb-space-small;
  grid-area: main;
  overflow: auto;
}

nav {
  position: absolute;
  z-index: 9001; // over 9000!!
  right: $wb-space-medium;
  top: $nav-height + $wb-space-small;

  max-width: calc(100vw - #{2 * $wb-space-medium});
  max-height: calc(100vh - #{$nav-height + (2 * $wb-space-medium)});

  padding: $wb-space-medium;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.21), 0 3px 6px 0 rgba(0, 0, 0, 0.17), 0 5px 12px 4px rgba(0, 0, 0, 0.14);

  background-color: $wb-color-neutral-100;

  @media screen and (max-width: $wb-breakpoint-small) {
    top: $nav-height;
    right: 0;
    width: 100vw;
    max-width: 100vw;
  }
}
