@import '../../../../assets/styles/variables';

:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;

  grid-template:
    'nav nav' 46px
    'main main' auto;
}

header {
  grid-area: nav;
  width: 100vw;
  margin: 0;
  background-color: $wb-color-primary-600;
}

main {
  margin: 0;
  padding-top: $wb-space-small;
  grid-area: main;
}
