<header [nzNoAnimation]="accessibilityModeActive">
  <div class="container">
    <a class="logo" routerLink="/">
      <!--      <img src="assets/static/wahlberater-horizontal-inverted-optm.png" alt="WahlBerater Logo" />-->
      <img src="assets/static/wal-thumb.png" alt="DeinWal Logo" />&nbsp; DeinWal
    </a>

    <ol class="inline-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/" title="Zurück zur Startseite">Start</a>
      </li>
      <li routerLinkActive="active" *ngIf="(lastQuizPage | async) !== ResultUrlPath">
        <a routerLink="/quiz/{{ lastQuizPage | async }}" title="Started das Quiz">Quiz</a>
      </li>
      <li routerLinkActive="active" *ngIf="(lastQuizPage | async) === ResultUrlPath">
        <a routerLink="/quiz/{{ QuizFirstPagePath }}" title="Started das Quiz nochmal von vorn">Quiz</a>
      </li>
      <li routerLinkActive="active" *ngIf="(lastQuizPage | async) === ResultUrlPath">
        <a routerLink="/quiz/{{ ResultUrlPath }}" title="Zur Quiz Auswertung">Auswertung</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/parties" title="Zur Liste aller Wahllisten">Parteien</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/claim" title="Zur Liste aller Thesen die die Kandidierenden beantwortet haben">Thesen</a>
      </li>
    </ol>

    <a
      #navToggle
      class="menu-toggle"
      [title]="(isMenuOpen | async) === true ? 'Menü schließen' : 'Menü öffnen'"
      (click)="toggleMenu($event)"
    >
      <i nz-icon nzType="menu" nzTheme="outline" alt="Menü"></i>
    </a>
  </div>
</header>

<nav
  [style.right]="navRightOffset + 'px'"
  *ngIf="(isMenuOpen | async) === true"
  @menuAnimation
  [nzNoAnimation]="accessibilityModeActive"
  aria-modal="true"
>
  <app-navigation-container></app-navigation-container>
</nav>

<main
  [nzNoAnimation]="accessibilityModeActive"
  (click)="mainClicked($event)"
  class="{{ accessibilityModeActive ? 'accessibilityMode' : '' }}"
>
  <router-outlet></router-outlet>
</main>
