<nz-layout class="page-layout">
  <!--  <nz-sider-->
  <!--    nzCollapsible-->
  <!--    nzBreakpoint="lg"-->
  <!--    [nzCollapsedWidth]="0"-->
  <!--    [nzWidth]="450"-->
  <!--    [nzTrigger]="null"-->
  <!--    [nzCollapsed]="(isMenuOpen | async) == false"-->
  <!--    (nzCollapsedChange)="toggleMenu($event)"-->
  <!--    class="menu-layout"-->
  <!--    [class.fixed]="fixMenu | async"-->
  <!--  >-->
  <!--    <div class="logo">Logo here</div>-->
  <!--    <button (click)="toggleMenu(false)">Close Menu</button>-->
  <!--    <ul nz-menu nzTheme="dark" nzMode="inline">-->
  <!--      <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">-->
  <!--        <a routerLink="/">Start</a>-->
  <!--      </li>-->
  <!--      <li nz-menu-item nzMatchRouter>-->
  <!--        <a routerLink="/docs/about">About</a>-->
  <!--      </li>-->
  <!--      <li nz-menu-item nzMatchRouter>-->
  <!--        <a routerLink="/docs/privacy">Privacy</a>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </nz-sider>-->

  <nz-layout>
    <nz-header class="header-layout">
      <i class="menu-open-trigger" nz-icon [nzType]="(isMenuOpen | async) ? 'menu-unfold' : 'menu-fold'" (click)="toggleMenu(true)"></i>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item>Hello</li>
        <li nz-menu-item>World</li>
      </ul>
    </nz-header>
    <nz-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </nz-content>
  </nz-layout>
</nz-layout>
