<header>
  <div class="container">
  <a class="logo" routerLink="/">
    <img src="assets/static/wahlberater-horizontal-inverted-optm.png" />
  </a>

  <a #navToggle class="menu-toggle" [title]="(isMenuOpen | async) === true ? 'Menü schließen' : 'Menü öffnen'" (click)="toggleMenu($event)">
    <i nz-icon nzType="menu" nzTheme="outline"></i>
  </a>
</div>
</header>

<nav [style.right]="navRightOffset + 'px'" *ngIf="(isMenuOpen | async) === true" @menuAnimation aria-modal="true">
  <app-navigation-container></app-navigation-container>
</nav>

<main (click)="mainClicked($event)">
  <router-outlet></router-outlet>
</main>
