@import '../../../../../assets/styles/variables';

.party-decision {
  margin: $wb-space-x-small 0;
  font-weight: 500;
}
table {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-feature-settings: 'tnum';
  width: 100%;
  text-align: left;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  border-spacing: 0;
  thead > tr > th {
    position: relative;
    overflow-wrap: break-word;
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s ease;
    padding: 8px 8px;
  }
  tbody > tr > td {
    position: relative;
    overflow-wrap: break-word;
    border-bottom: 1px solid #f0f0f0;

    transition: background 0.3s;

    padding: 8px 8px;
  }
}
