@import 'variables';
@import 'partials/fonts.partial';
@import 'partials/typography.partial';
@import 'partials/accessibility-mode';

body {
  background-color: $wb-color-page-background;
}
.my {
  margin-top: $component-margin;
  margin-bottom: $component-margin;
}
.mt {
  margin-top: $component-margin;
}

blockquote {
  margin: $wb-space-small 0 $wb-space-small $wb-space-large;
  padding-left: $wb-space-small;
  border-left: 3px solid #ccc;
  color: #555;
}

p {
  margin-top: $wb-space-medium;
  margin-bottom: $wb-space-medium;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
}
