@import 'variables';
/* You can add global styles to this file, and also import other style files */

.my {
  margin-top: $component-margin;
  margin-bottom: $component-margin;
}
.mt {
  margin-top: $component-margin;
}

