@import '../../../../assets/styles/variables';
.results {
  h1 {
    margin: $wb-space-large $wb-space-medium;
    @media screen and (max-width: $wb-breakpoint-medium) {
      margin: $wb-space-large 0;
    }
  }
  .controls {
    text-align: right;
    margin: 0 $wb-space-medium;
    @media screen and (max-width: $wb-breakpoint-medium) {
      margin: 0;
    }
    nz-switch {
      margin: 0 $wb-space-x-small;
    }
  }

  nz-tabset {
    background-color: $wb-color-page-foreground-background;
    box-shadow: $wb-shadow-normal;
    padding: $wb-space-medium $wb-space-large;
    margin: $wb-space-large $wb-space-medium;
    @media screen and (max-width: $wb-breakpoint-medium) {
      padding: $wb-space-small $wb-space-medium;
      margin: $wb-space-large 0;
    }
  }
  > h2,
  > a {
    margin: $wb-space-large $wb-space-medium;
    @media screen and (max-width: $wb-breakpoint-medium) {
      margin: $wb-space-large 0;
    }
  }

  .category {
    background-color: $wb-color-page-foreground-background;
    border-left: 5px solid;
    padding: $wb-space-medium $wb-space-large;
    margin: $wb-space-large $wb-space-medium;
    box-shadow: $wb-shadow-normal;
    @media screen and (max-width: $wb-breakpoint-medium) {
      padding: $wb-space-small $wb-space-medium;
      margin: $wb-space-large 0;
    }
  }
}

.heart-red {
  color: $favcolor;
}
.same_direction {
  @include use-typography($wb-type-strong);
  color: $favcolor;

  .vote-icon {
    //color: $favcolor;
  }
  .ant-collapse-content-box {
    color: #00ff00;
    background-color: #ff0000;
  }
}

.visualisations {
  margin: $wb-space-x-large 0;
}
