@import '../../../../assets/styles/index';

.category {
  border: $category-border-size solid;
  border-radius: $category-border-radius;
  margin: 20px 0;
  padding: 1rem;
}
.heart-red {
  color: $favcolor;
}
.same_direction {
  @include use-typography($wb-type-strong);
  color: $favcolor;

  .vote-icon {
    //color: $favcolor;
  }
  .ant-collapse-content-box {
    color: #00ff00;
    background-color: #ff0000;
  }
}

.visualisations {
  margin: $wb-space-x-large 0;
}
