<div id="results" *ngIf="votes">
  <ng-container *ngIf="politicalData">
    <div class="controls">
      Kandidierenden anzeigen:&nbsp;<nz-switch id="showCandidatesSwitch" [ngModel]="showCandidates" (click)="toggleShowCandidates()"></nz-switch>
    </div>
    <nz-tabset class="visualisations">
      <nz-tab nzTitle="Bars">
        <app-auswertung-barchart-table
          [votes]="votes"
          [politicalData]="politicalData"
          [personalCandidates]="personalData"
          [categories]="politicalData.categories"
          [claims]="politicalData.claims"
          [partyScores]="partyScores"
          [maxValue]="maxValue"
          [maxParty]="maxParty"
          [showCandidates]="showCandidates"
        >
        </app-auswertung-barchart-table>
      </nz-tab>
      <nz-tab nzTitle="HeatMap 1">
        <app-auswertung-heatmap
          [votes]="votes"
          [politicalCandidates]="politicalData.candidates"
          [personalCandidates]="personalData"
          [categories]="politicalData.categories"
        >
        </app-auswertung-heatmap>
      </nz-tab>
      <nz-tab nzTitle="HeatMap 2">
        <app-auswertung-heatmap-votes
          [votes]="votes"
          [politicalCandidates]="politicalData.candidates"
          [personalCandidates]="personalData"
          [categories]="politicalData.categories"
        >
        </app-auswertung-heatmap-votes>
      </nz-tab>
    </nz-tabset>

    <h2>Detailierte Auswertung der Kandidaten</h2>
    <ng-container *ngFor="let category of politicalData.categories | keyvalue">
      <div *ngIf="category.key != 'howto'" class="category" style="border-color:{{ category.value.color }}">
        <app-auswertung-category-panel
          [votes]="votes"
          [politicalData]="politicalData"
          [personalCandidates]="personalData"
          [categoryId]="category.key"
          [claims]="politicalData.claims"
          [category]="category.value"

          [partyScores]="partyScores"
          [maxValue]="maxValue"
          [maxParty]="maxParty"
          [showCandidates]="showCandidates"
        >
        </app-auswertung-category-panel>
      </div>
    </ng-container>

    <a (click)="sampleVotes()"><i nz-icon nzType="fork" nzTheme="outline"></i> Sample Votes</a>
  </ng-container>
</div>
