@import '../../../../../assets/styles/variables';
:host ::ng-deep {
  .ant-list-header {
    font-weight: bold;
  }
}
.category {
  margin: $wb-space-medium 0;
  border: $category-border-size solid;
  border-radius: $category-border-radius;
  padding: 1rem;
}
