<nz-breadcrumb>
  <nz-breadcrumb-item><a routerLink="/" title="Zurück zur Startseite">Start</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><span title="Aktuelle Seite: Übersicht über alle Thesen">Thesenübersicht</span></nz-breadcrumb-item>
</nz-breadcrumb>

<h1>Übersicht über die Thesen</h1>
<ng-container *ngIf="sortedData | async as d">
  <div class="category" *ngFor="let category of d" [style.border-color]="category.category.color">
    <h3>{{ category.category.title }}</h3>
    <nz-list>
      <ng-container *ngFor="let claim of category.claims">
        <nz-list-item>
          <a [routerLink]="'/claim/' + claim.claimId">{{ claim.title }}</a>
        </nz-list-item>
      </ng-container>
    </nz-list>
  </div>
</ng-container>
