<ng-container *ngIf="data | async as data">
  <nz-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/">Start</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/parties">Wahllisten</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="['/parties', data.partyId]">{{ data.party?.name }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ data.candidate.name }}</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="candidate-info">
    <img class="picture" src="{{ data.candidate.picture | pictureUrl }}">
    <h2 class="name">
      {{ data.candidate.name }}
      <p class="party">{{ data.party?.name }}</p>
    </h2>
    <p class="description">{{ data.candidate.shortDescription | markdown }}</p>

    <div class="social">
      <app-social-links [links]="data.candidate.links" [name]="data.candidate.name"></app-social-links>
    </div>
  </div>

  <div class="candidate-description">{{ data.candidate.description | markdown }}</div>
</ng-container>
