<ng-container *ngIf="data | async as data">
  <nz-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/" title="Zurück zur Startseite">Start</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/parties" title="Zur Übersicht der Wahllisten">Wahllisten</a></nz-breadcrumb-item>
    <nz-breadcrumb-item
      ><a [routerLink]="['/parties', data.partyId]" title="Wahlliste {{ data.party?.name }}">{{ data.party?.name }}</a></nz-breadcrumb-item
    >
    <nz-breadcrumb-item
      ><span title="Aktuelle Seite: {{ data.candidate.name }}">{{ data.candidate.name }}</span></nz-breadcrumb-item
    >
  </nz-breadcrumb>

  <div class="candidate-info">
    <img class="picture" src="{{ data.candidate.picture | pictureUrl }}" />
    <h2 class="name">
      {{ data.candidate.name }}
      <p class="party">{{ data.party?.name }}</p>
    </h2>
    <p class="description" [innerHTML]="data.candidate.shortDescription | markdown"></p>

    <div class="social">
      <app-social-links [links]="data.candidate.links" [name]="data.candidate.name"></app-social-links>
    </div>
  </div>

  <div class="candidate-description" [innerHTML]="data.candidate.description | markdown"></div>

  <h3>Standpunkte von {{ data.candidate.name }}</h3>
  <section *ngFor="let category of data.claimPositions">
    <h4>{{ category.category.title }}</h4>

    <nz-collapse>
      <nz-collapse-panel *ngFor="let claim of category.claims" [nzHeader]="claim.claim.title" [nzExtra]="voteIcon">
        <p class="small" [innerHTML]="claim.claim.description | markdown" *ngIf="claim.claim.description"></p>
        <p *ngIf="claim.position.vote > 0">
          {{ data.candidate.name }} stimmt {{ claim.position.vote >= 2 ? 'vehement ' : '' }}dafür.
          <app-decision-icon [vote]="claim.position.vote"></app-decision-icon>
        </p>
        <p *ngIf="claim.position.vote < 0">
          {{ data.candidate.name }} stimmt {{ claim.position.vote <= -2 ? 'vehement ' : '' }}dagegen.
          <app-decision-icon [vote]="claim.position.vote"></app-decision-icon>
        </p>
        <p *ngIf="claim.position.vote == 0">
          {{ data.candidate.name }} hat zu dieser These keine Position bezogen.
          <app-decision-icon [vote]="claim.position.vote"></app-decision-icon>
        </p>
        <p [innerHTML]="claim.position.reason | markdown" *ngIf="claim.position.reason"></p>

        <ng-template #voteIcon>
          <app-decision-icon [vote]="claim.position.vote"></app-decision-icon>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </section>
</ng-container>
