<div id="mybarchartchart">
  <table *ngIf="partyScoreResult?.partyScores">
    <ng-container *ngFor="let party of partyScoreResult.partyScores">
      <!-- Party -->
      <tr class="party-row">
        <th>
          {{ politicalData.parties[party.party].name }}
        </th>
        <td>
          <ng-container *ngFor="let category of party.scores | keyvalue">
            <span
              *ngIf="category.value.score.score > 0"
              [style.width]="(100 * category.value.score.score) / partyScoreResult.maxParty + '%'"
              [style.background-color]="politicalData.categories[category.key].color"
              class="hit"
              nz-tooltip
              nzTooltipTitle="{{ category.value.score.score | number: '1.0-2' }} Punkt{{
                category.value.score.score == 1 ? '' : 'e'
              }} in der Kategorie {{ politicalData.categories[category.key].title }}"
              title="{{ category.value.score.score | number: '1.0-2' }} Punkt{{
                category.value.score.score == 1 ? '' : 'e'
              }} in der Kategorie {{ politicalData.categories[category.key].title }}"
              >{{ category.value.score.score | number: '1.0-2' }}
            </span>
          </ng-container>
        </td>
      </tr>

      <!-- candidates -->
      <ng-container *ngIf="showCandidates && party.candidates">
        <ng-container *ngFor="let candidate of party.candidates | keyvalue: candidateSorter">
          <tr class="candidate-spacer"></tr>
          <tr class="candidate-row">
            <th>
              <!--          <a [routerLink]="'/candidates/' + candidate.id">{{ candidate.personal.name }}</a> <small>({{politicalData.parties[candidate.political.party].name}})</small>-->
              {{ candidate.value.personal.name }}
            </th>
            <td>
              <ng-container *ngFor="let category of candidate.value.scores | keyvalue">
                <span
                  *ngIf="category.value.score.score > 0"
                  [style.width]="(100 * category.value.score.score) / partyScoreResult.maxValue + '%'"
                  [style.background-color]="politicalData.categories[category.key].color"
                  class="hit"
                  nz-tooltip
                  nzTooltipTitle="{{ category.value.score.score }} Übereinstimmung{{
                    category.value.score.score == 1 ? '' : 'en'
                  }} in der Kategorie {{ politicalData.categories[category.key].title }}"
                  >&nbsp;
                  <!--                  {{ category.value.score.score }}-->
                </span>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <tr class="spacer"></tr>
        <tr id="axis">
          <th></th>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="Achse zeigt die Punkte der Kandidaten."
              title="Achse zeigt die Punkte der Kandidaten."
              [style.width]="100 / partyScoreResult.maxValue + '%'"
              *ngFor="let value of maxValueArray()"
            >
              <span class="axis-label">{{ value + 1 }}</span>
            </span>
          </td>
        </tr>
      </ng-container>
      <tr class="spacer"></tr>
    </ng-container>
  </table>

  <p class="small">
    Die Reihenfolge der Listen entspricht der Übereinstimmung mit deinen Antworten.
    <ng-container *ngIf="showCandidates"> Die Reihenfolge der Kandidierenden wurde von den Listen festgelegt. </ng-container>
  </p>
</div>
