@import '../../../../assets/styles/variables';

.candidate-bar,
.party-bar {
  position: relative;
  height: 2em;
  margin-top: $wb-space-x-small;
  div {
    position: absolute;
    height: 2em;

    &.bar-color {
      //background: black;
      //width:100px;
      //z-index: 2;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }

    &.bar-score,
    &.bar-text {
      //position:absolute;
      //font-family: Arial, Helvetica;
      //font-size: 100px;
      //mix-blend-mode: difference;
      //mix-blend-mode: difference;
      //color: white;
      //z-index: 3;
      font-weight: 500;
      background: white;
      height: 1.5em;
      margin-left: $wb-space-x-small;
      padding: 0 $wb-space-x-small;
      //border: 1px solid white;
      //margin-top: -$wb-space-x-small;
    }

    &.bar-score {
      width: 105px;
      text-align: right;
    }
    &.bar-text {
      left: 115px;
    }
  }
}
.candidate-bar {
  font-size: 0.8em;
  height: 1.8em;
  margin-top: 0;
  div {
    height: 2em;

    &.bar-score,
    &.bar-text {
      //margin-top: -$wb-space-xx-small;
      height: 1.4em;
    }
    &.bar-color {
      height: 0.8em;
      margin-top: 1em;
    }
  }
  &-spacer {
    margin-bottom: $wb-space-small;
  }
}
