<div id="mybarchartchart" *ngIf="partyScoreResult?.partyScores">
  <ng-container *ngFor="let party of partyScoreResult.partyScores; let partyIndex = index">
    <div class="party-bar">
      <div
        class="bar-color"
        [style.background-color]="politicalData.parties[party.party].color"
        [style.width]="(100 * party.score.score) / (showCandidateBars ? partyScoreResult.maxValue : partyScoreResult.maxParty) + '%'"
      ></div>
      <div class="bar-score">{{ party.score.score | number: '1.0-1' }} Punkt{{ party.score.score == 1 ? '' : 'e' }}</div>
      <div class="bar-text">
        <a [routerLink]="'/parties/' + party.party">{{ politicalData.parties[party.party].kuerzel }}</a>
      </div>
    </div>
    <ng-container *ngIf="showCandidateBars && party.candidates && partyIndex < showCandidatesNum">
      <ng-container
        *ngFor="
          let candidate of party.candidates | keyvalue: candidateSorter | slice: 0:displayCandidates[partyIndex] + 1;
          let candidateIndex = index
        "
      >
        <div class="candidate-bar">
          <div
            class="bar-color"
            [style.background]="getBackground(politicalData.parties[party.party].color, candidateIndex)"
            [style.width]="
              (100 * candidate.value.score.score) / (showCandidateBars ? partyScoreResult.maxValue : partyScoreResult.maxParty) + '%'
            "
          ></div>
          <div class="bar-score">
            {{ candidate.value.score.score | number: '1.0-1' }} Punkt{{ candidate.value.score.score == 1 ? '' : 'e' }}
          </div>
          <div class="bar-text">
            <a [routerLink]="'/parties/' + party.party + '/candidates/' + candidate.value.id">{{ candidate.value.personal.name }}</a>
          </div>
        </div>
      </ng-container>
      <div *ngIf="nCandidates[partyIndex] > displayCandidates[partyIndex] + 1">
        <a (click)="showAll(partyIndex)">{{ nCandidates[partyIndex] - displayCandidates[partyIndex] }} weitere anzeigen</a>
      </div>
      <div class="candidate-bar-spacer">&nbsp;</div>
    </ng-container>
  </ng-container>
  <p class="small">
    Die Reihenfolge der Listen entspricht der Übereinstimmung mit deinen Antworten.
    <ng-container *ngIf="showCandidateBars"> Die Reihenfolge der Kandidierenden wurde von den Listen festgelegt. </ng-container>
  </p>
</div>
